h1{
    text-shadow: 3px 5px 2px blue;
    text-transform: uppercase;
    color: brown;
}
.p{
    color: aqua;
    text-align:justify;
    text-decoration:blink;
    text-indent: 50px;
    white-space: 50px;
word-spacing: 10px;
}
.a{
    text-decoration: none;
    color: orangered;
}
.container{
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
    overflow: scroll;
    font-weight: 100px;
    text-indent: 20px;
    text-align:initial;
    line-break: auto;
    color: rgb(56, 223, 145);
}
ul{
    list-style:decimal;
    list-style-image: url();
}
.w3{
    text-decoration: none;
    font-size: 20px;

}
.w3:link{
    color:red;
}
.w3:visited{
    color:rgb(19, 216, 29);
}
.w3:hover{
    color:rgb(25, 13, 201);
    font-size: 30px;
    background-color: brown;
    border: 2px solid black;
    border-radius: 20%;
}
.w3:active{
    color:rgb(208, 255, 0);
}
.background{
    height: 200px;
    width: 200px;
    background-color: crimson;
    background-image: url(./assets/banner.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}